* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  padding: 0;
}

.aj-text-light {
  color: #B1B1B1;
}
.aj-text-gold {
  color: #AE966A;
}
.aj-text-red {
  color: #591315;
}
.aj-nav-link:hover {
  color: #591315;
}
.aj-nav-link:active {
  color: #591315;
}
.aj-nav-link-dropdown:active {
  background-color: #AE966A;
}
.aj-btn-red {
  background-color: #992313;
  color: #FFFFFF;
}
.aj-btn-red:hover {
  background-color: #591315;
  color: #FFFFFF;
}

.card-hero {
  background-image:url(/src/assets/images/01.jpeg);
  background-position: center left;
  background-size: cover;
}